@import './styles/normalize.css';
@import './styles/variables.css';
@import './styles/common-classes.css';
@import './styles/editable-text.css';
@import './styles/photo.css';
@import './styles/header.css';
@import './styles/name-box.css';
@import './styles/languages-box.css';
@import './styles/experience-box.css';
@import './styles/tool-box.css';
@import './styles/education-box.css';
@import './styles/interests-box.css';
@import './styles/contact-box.css';
@import './styles/main-section.css';
@import './styles/footer.css';
@import './styles/buttons.css';
@import './styles/ripple-animation.css';

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

h2,
h3,
p {
  margin: 0;
}

input {
  padding: 0;
  border: 0;
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
  }

  .photo {
    max-height: 300px;
  }

  .main__top {
    flex-direction: column;
  }

  .tool-box {
    padding: 12px;
    width: 100%;
  }

  .list-tool-categories {
    flex-direction: row;
    justify-content: space-around;
  }

  .main__top-right-column {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .main__bottom {
    flex-direction: column;
  }

  .list-tool-categories {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }

  .category-tools {
    margin: 0;
  }

  .job__info {
    width: 95px;
  }
}

@media print {
  .footer {
    visibility: hidden;
  }
}
